@charset "utf-8";
/* CSS Document */
body {
	background-color: #ddd;
	color: #000;
	overflow-x:hidden;
}
.header{
	height: 100px;
}
.panel {

}	

/* Initiate */
#panel_content {
	width: 100%;
	background-color: #fff;
	padding-left: 10px;
	padding-top: 1em;
	
	-webkit-box-shadow:  0px 0px 3px 1px rgba(0, 0, 0, 1);
	box-shadow:  0px 0px 3px 1px rgba(0, 0, 0, 1);
}
#panel_plugin {
	width: 0%;	
	display:none;
	background-color:#eee;
	border:solid 1px black;
	padding-left: .6em;
	padding-top: 0.5em;
	padding-right: 0.3em;
	border-left-width:0px;
}
.panel_plugin_title {
	font-weight:bold;	
}
.panel_plugin_content {
	height: 100%;	
}
#panel_research {
	width: 0%;	
	display:none;
}

/* Styles */
.format_count_min {
	color: rgba(0,0,0,.6);	
}
.format_description {
	font-size:9pt;	
}
.format_count {
	background-color: rgba(0,0,0,.05);
	font-size:8pt;	
	margin-left:2em;
	margin-top:-2px;
}
.content {
	border: solid 2px #444;
}
.content_textarea {
	width:98%;
	margin-right: -4px;	
	height: 100%;
}
.toolbar {
	background-color: #aaa;
	margin-bottom: -4px;
	width:98%;
}	
.popup_character {
	position: fixed;
	left: 5%;
	right: 5%;
	top: 5%;
	bottom: 5%;
	width: 50%;
	height: 30%;
	background-color: #999;
}

.citation {
		text-decoration: none;
		border-bottom: solid 1px #0CF;
	}	
.searchResult {
		font-weight: bold;
		background-color: yellow;
		border: solid 1px #dd6;
		padding-left: 2px;
		padding-right: 2px;
}
.content_textarea {
	background-color:white;	
}

.fullscreen {
	position:fixed;
	left:-0.1%;
	top:-0.1%;
	width:100.3%;
	height:100.3%;	
}
.popupbg {
	background-color:rgba(0,0,0,.8);	
}
.popuptop {
	position:fixed;
	width:70%;
	left:15%;
	height:60%;
	top: 20%;
	border: solid 1px #CCCCCC;
	background-color:#EEEEEE;
	min-width:3in;
	min-height:2in;
}
.popuptitle {
	font-size: 24pt;
	margin-left: 15px;
	color: #333;
}
.popupsubtitle {
	font-size: 13pt;
	margin-left: 35px;
	color: #999;	
}
.popupbody {
	margin-left: 60px;
	font-size: 11pt;
	width:80%;
}
.popupimg {
	
}
.popupcontent {
	max-height: 75%;
overflow: auto;
width: 90%;
/*background-color: rgba(100,100,100,.05);*/	
}
.citationInput {
	margin-left:25px;
	display:none;	
}
.hovertag {
	background-color:black;
	color:white;	
	position:fixed;
	height:20px;
	width:140px;
	
	text-align: center;
	font-size: 11pt;
	padding-top: 1px;
	overflow:hidden;
	
	/*-webkit-box-shadow: 0px -2px 1px rgba(0, 0, 0, 1);
-moz-box-shadow:    0px -2px 1px rgba(0, 0, 0, 1);
box-shadow:         0px -2px 1px rgba(0, 0, 0, 1);*/
}
.build {
	display:hidden;	
	width:100%;
}
.build_progress {
	text-align: center;
	width:100%;	
}
.draft {
	display:none;	
}
.scale {
	display:none;
	height:1in;	
}
.fullscreenui {
	opacity: 0.1;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 45px;
	height: 100%;
	z-index:4;
	background-color:#eee;
	text-align:center;
	margin-top:1px;
}	
.fullscreenexit {
	cursor: pointer;	
}

/* Colors */
.gluten_gray {
	color: #999;	
}
.gluten_red {
	color: #f44;
}	

button {
	cursor:pointer;	
}
.button {
	cursor: pointer;	
}

/* Build Templates */
.page {
	width:8.5in;
	height:13in;
	padding-left:1in;
	padding-top:0.5in;
	padding-right:1in;
	padding-bottom:0.5in;
	background-color:white;
	-webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 1);	
	text-decoration: none;
}
.pageheader {
	height:1in;
}
.pagebody {
	max-height:6.5in;	
}
.pagefooter {
	height: 1in;	
}	
@media print {
	body {
		background-color:white;	
	}
	.page {
		box-shadow: none;
		-webkit-box-shadow: none;	
	}
	hr {
		display:hidden;	
	}
}